@model QLNS.Models.Hopdong

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết hợp đồng</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNV)
        </dd>        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaybatdau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaybatdau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayketthuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayketthuc)
        </dd>
    </dl>
</div>
<br>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNV">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
